
@font-face {
    font-family: 'Oswald', sans-serif;
    src: url("/adds/fuente-oswald/Oswald-Bold.ttf") format('truetype');
    src: url("/adds/fuente-oswald/Oswald-ExtraLight.ttf") format('truetype');   
    
}
* {
    margin: 0;
    paddign: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
}

html {
    font-size: 62.5%;
}


.main {
    position: relative;
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;
    font-family: Oswald, sans-serif; 
    font-size: 16px; /* 1rem = 10px */
}
.section__formulario {
    background-image: url(./adds/photo-1484807352052-23338990c6c6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    
    color: white;
    
}

.section__formulario--div {
    background: radial-gradient(black 10%, rgba(0, 0, 0, 0.1) );
    width: 100%;
   
}

.section__formulario--titulo {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
  
}

.titulo {
    font-style: 'Hey-Comic';
    src: url("/adds/Hey-Comic.ttf") format('truetype');   
    font-weight: bolder;
    font-size: 3.8rem;
    text-align: center;
    margin-top: 5rem;
        
}

.parrafo {
    font-family:'Oswald';
    font-weight: 1rem;
    font-style: italic;
    width: 70%;
    text-align: center;

}

.formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    font-family: comic;
}


.form__field {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;

}

.label {
    margin-bottom: 7px;
}

.form__field--radio {
    border: none;
    margin-top: 2em;
    display: inline;
}


.liForm {
    list-style: none;
    color: white;
}

.form__field--radio--div {
    gap: 20px;
    display: flex;
    align-items: center;
    
}

.input__form {
    border: 2px;
    border-radius: 5px; 
    width: 60%;
    max-width: 500px;
    height: 3em;
    padding-inline-start: 1rem;


}

.input__radio {
    border: 2px;
    border-radius: 5px; 
    width: 2rem;
    height: 2rem;
    margin-block: 2rem;

}
.input__check {
   margin-top: 5px;
    margin-right: 20px;
}

.form__field--check {
    margin-top: 4rem;
    border: none;
    display: flex;
    justify-content: center;
   
}

.field__check {
    border: none;
    margin-top: 2em;
    display: flex; 

}


.enviar {
    margin-top: 3rem;
    margin-bottom: 7rem;
    border: 2px;
    border-radius: 5px; 
    width: 60%;
    max-width: 500px;
    height: 3em;
    padding-inline-start: 1rem;
}

    /* FOOTER */

.footer__style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color:#1b1c20;
    font-family: Oswald;
    color: #FFFFFF;
    text-align: center;
    }


        /* HEADER */


        .menu__noBurger {
            display: none;
        }
        
        li, .textA {
            font-family: Oswald;
            font-weight: 500;
            color: #1b1c20;
            text-decoration: none;
            font-size: 2rem;
        }
        
        .links:hover {
            padding: 1.5vw;
            background-color: #1b1c20;
            color: #ffffff;
            text-decoration: underline;
        }
        
        .socialLogos__style-link:hover {
            transform: scale(1.25);
            transition: 0.25s ease-in;
            -webkit-animation: forwards;
        }
        
        .head__mobile {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            line-height: 70px;
            justify-content: space-between;
            margin-left: 10%;
        }
        
        
        .socialLogos__style-link {
            display: flex;
            gap: 2vw;
            max-width: 4vw;
        }
        
        .logo__style {
            width: 30px;
        }
        
        .logo__style--big {
            width: 90px;
            margin-left: -10px;
        }
        
        .menu__mobile {
            margin: 50px 0 -50px;
            display: none;
            text-align: left;
            width: 100%;
            max-height: 0px;
        }
        
        .burger__style {
            margin: 0 20px 0;
            font-size: 26px;
            line-height: 70px;
            clear: right;
            display: block;
        }
        
        #burger {
            display: none;
        }
        
        #burger:checked ~ .menu__mobile{
            display: block;
            margin-bottom: 300px;
        }
        #burger:checked ~ .burger__style {
            display: none;
        }
        #burger:not(:checked) ~ .burger__style--X {
            display:none;
        }
        
        
        .social-mobile__style {
            display: flex;
            gap: 30px;
        }
        .burger__style--X{
            margin-right: 10%;
        }



        @media (min-width: 1024px){

        .head__mobile {
            display: none;
        }
        .social-mobile__style{
            margin-left: 0;
            margin-right: 15px;
            margin-top: 20px;
            max-height:32px;
            gap: 15px;
        }
        .links {
            margin-left: 0;
        }
        .burger__style--X {
            margin-left: 0;
        }
        .logo__style--big {
            margin: 0;
            margin-left: 15px;
        }
        .menu__noBurger{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .menu_mobile--ubicar {
            display: inline-flex;
            gap: 60px;
            align-items: center;
            align-content: center;
            margin-top: 0;
        }
        }