*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
}

@font-face {
    font-family: Oswald;
    src: url(/assets/fonts/Oswald-VariableFont_wght.ttf);
    }

        /* PRINCIPAL BANNER */

.container__principalBanner {
    width: 100%;
    position: relative;
}
.container__principalBanner--video {
    background-color: black;
}
.principalBanner__video {
    opacity: 0.5;
    width: 100%;
    display: block;
}
.container__principalBanner--smallText {
    font-size: 0.8rem;
    height: auto;
}
.container__principalBanner--bigText {
    font-size: 1.8rem;
}
.container__principalBanner--text {
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    width: 80%;
    color: white;
}

        /* CARD FLIPS */

.container__wrap--cardFlip {
    width: 100%;
    text-align: center;
}
.cardsFlip {
    width: 300px;
    height: 180px;
    background-color: #313131;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    position: relative;
    transition: 0.8s ease-in;
    transform-style: preserve-3d;
    transform: perspective(700px);
}
.back__title {
    color:  #ffffff;
}
.back__sentence {
    color:  #999999;
    margin: 10px;
}
.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.back--ejeX{
    transform: rotateX(180deg);
    transform-style: preserve-3d;
}
.front {
    border-radius: 10px;
    background-size: cover;
    transform-style: preserve-3d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.front__title{
    text-shadow: 3px 2px 0px #554d58;
}
.mountain {
    background-image: url(./imagenes-videos/mountain.jpg);
}
.ocean{
    background-image: url(./imagenes-videos/ocean.jpg);
}
.lake {
    background-image: url(./imagenes-videos/lake.jpg);
    
}
.container__cardsFLip:hover .cardsFlip{
    transform: rotateY(180deg);
}
.container__cardsFLip--ejeX:hover .cardsFlip--ejeX{
    transform: rotateX(180deg);
}
.container__flex {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.title__cardsFlip {
    color:  #1b1c20;
    margin: 0.8rem 0;
}
.cardsFlip--ejeX{
    width: 300px;
    height: 180px;
    background-color: #313131;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    position: relative;
    transition: 0.8s ease-in;
    transform-style: preserve-3d;
    transform: perspective(700px);
}

            /* FOOTER */

.footer__style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color:#1b1c20;
    font-family: Oswald;
    color: #FFFFFF;
    text-align: center;
}

            /* PRICING SECTION */

.pricingSection__Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F0F4F7;
    text-align: center;
    gap: 20px;
    padding-bottom: 30px;
}
.pricingSection__container--title {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}
.pricingSection__container--wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pricingSection__text--big {
    color: #6e768d;
    font-size: 1.7rem;
    margin: 20px 0;
}

.pricingSection__sentence {
    color:#b4bdc6;
}
.card__price--textBig {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}
.card__price--numberBig {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    letter-spacing: -0.1rem;
}
.pSmall {
    font-size: 0.6rem;
    vertical-align: top;
    margin: -6px;
}
.pMedium {
    font-size: 0.5rem;
}
.pricingSection__card {
    color: #717787;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80%;
    max-width: 300px;
    position: relative;
}
.pricingSection__section {
    min-width: 280px;
    text-align: center;
    padding-bottom: 1rem;
}
.list__item {
    list-style: none;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
.list__item:before {
    content: '✓';
    color: white;
    background-color: #74ce6a;
    border-radius: 50%;
    font-size: 0.5rem;
    margin-right: 1rem;
    display: inline-flex;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
}
.card__button {
    background-color: #71ce73;
    color: white;
    border-radius: 5px;
    border: 0;
    width: 8rem;
    height: 2rem;
    box-shadow: 0px 3px 0px #66ac64;
    font-size: 0.5rem;
}
.card__button:hover {
    box-shadow: 0px 0px 0px #66ac64;
}
.pricingSection__circle {
    background-color: #3bbdee;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color: white;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: -13px;
    left: 10px;
    transition: 0.5s ease;
}
.pricingSection__section--girar:hover .pricingSection__circle{
    transform: rotateZ(360deg);
}



            /* HEADER */
            .menu__noBurger {
                display: none;
            }
            
            li, a {
                font-family: Oswald;
                font-weight: 500;
                color: #1b1c20;
                text-decoration: none;
            }
            
            .links:hover {
                padding: 1.5vw;
                background-color: #1b1c20;
                color: #ffffff;
                text-decoration: underline;
            }
            
            .socialLogos__style-link:hover {
                transform: scale(1.25);
                transition: 0.25s ease-in;
                -webkit-animation: forwards;
            }
            
            .head__mobile {
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                line-height: 70px;
                justify-content: space-between;
                margin-left: 10%;
            }
            
            
            .socialLogos__style-link {
                display: flex;
                gap: 2vw;
                max-width: 4vw;
            }
            
            .logo__style {
                width: 30px;
            }
            
            .logo__style--big {
                width: 90px;
                margin-left: -10px;
            }
            
            .menu__mobile {
                margin: 50px 0 -50px;
                display: none;
                text-align: left;
                width: 100%;
                max-height: 0px;
            }
            
            .burger__style {
                margin: 0 20px 0;
                font-size: 26px;
                line-height: 70px;
                clear: right;
                display: block;
            }
            
            #burger {
                display: none;
            }
            
            #burger:checked ~ .menu__mobile{
                display: block;
                margin-bottom: 300px;
            }
            #burger:checked ~ .burger__style {
                display: none;
            }
            #burger:not(:checked) ~ .burger__style--X {
                display:none;
            }
            
            
            .social-mobile__style {
                display: flex;
                gap: 30px;
            }
            .burger__style--X{
                margin-right: 5%;
            }
            


            /* RESPONSIVE */
            

@media (min-width: 480px) {
    /* CARDS FLIP */
    .cardsFlip, .cardsFlip--ejeX{
        width: 400px;
        height: 240px;
    }
    .back__title{
        font-size: 2.3rem;
    }
    .back__sentence{
        font-size: 1.2rem;
    }
    /* PRICINS SECTION */
    .pricingSection__card{
        max-width: 950px;
    }
    .pricingSection__section {
        max-width: 30%;
        min-width: auto;
    }
    .list__item {
        font-size: 0.6rem;
    }
    .pricingSection__card {
        justify-content: space-around;
    }

            
} 

@media (min-width: 680px){
    /* PRINCIPAL BANNER */
    .container__principalBanner--smallText {
        font-size: 1.5rem;
    }
    .container__principalBanner--bigText {
        font-size: 2.8rem;
    }
    .container__principalBanner--text {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}


@media (min-width: 1024px){
    /* PRICING SECTION */
    .pricingSection__card{
        max-width: 20%;
    }
    .pricingSection__section {
        max-width: 90%;
        min-width: auto;
    }
    .list__item {
        font-size: 1rem;
    }
    .pricingSection__card {
        flex-direction: column;
    }
    .pricingSection__card {
        transition: 0.3s linear;
    }
    .pricingSection__card:hover {
            transform: scale(1.08);
    }
    .pricingSection__container--wrap {
        gap: 30px;
    }
    .pricingSection__section--border, .card__price--textBig {
        border-bottom: 0.5px solid #b4bdc6;
    }
    .pricingSection__section, .card__price--textBig {
        padding: 20px 0;
    }
    .card__price--textBig {
        margin-bottom: 20px;
    }
                    .head__mobile {
                        display: none;
                    }
                    .social-mobile__style{
                        margin-left: 0;
                        margin-right: 15px;
                        margin-top: 20px;
                    }
                    .links {
                        margin-left: 0;
                    }
                    .burger__style--X {
                        margin-left: 0;
                    }
                    .logo__style--big {
                        margin: 0;
                        margin-left: 15px;
                    }
                    .menu__noBurger{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                    }
                    .menu_mobile--ubicar {
                        display: inline-flex;
                        gap: 60px;
                        align-items: center;
                        align-content: center;
                        margin-top: 0;
                    }
}